kind: Service                             
apiVersion: v1
metadata:
  name: service1
  labels:
    app: label1
spec:
  ports:
    - port: 8080                               
      targetPort: 80                    
      nodePort: 31200
  selector:
    app: label1                   
  type: LoadBalancer                   
